<!DOCTYPE html>
<html lang="ru">

<head>
    <title>ИТ-услуга - администрирование.</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0,user-scalable=0">
</head>

<body>
<div id="root"></div>
<% if(isDevelopment) {%>
<script src="http://127.0.0.1:3014/admin.bundle.js" type="application/javascript"></script>
<% }else {%>
<script src="/admin.bundle.js" type="application/javascript"></script>
<%} %>
</body>

</html>

